
<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="“IE" ="edge”" />

    <script>
      function mostrar(id){
        document.getElementById(id).style.backgroundImage = "url('../images/ficha_b.jpg')";
      }
    </script>
</head>

  <body>
    <!-- AREA DE JUEGO -->
    <section id="Game">
      <div class="row">
        <div id="GameBoard" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div id="GameTable">
            
            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A1" onclick="mostrar('A1')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B1" onclick="mostrar('B1')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C1" onclick="mostrar('C1')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D1" onclick="mostrar('D1')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E1" onclick="mostrar('E1')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F1" onclick="mostrar('F1')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G1" onclick="mostrar('G1')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H1" onclick="mostrar('H1')"></div>

            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A2" onclick="mostrar('A2')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B2" onclick="mostrar('B2')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C2" onclick="mostrar('C2')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D2" onclick="mostrar('D2')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E2" onclick="mostrar('E2')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F2" onclick="mostrar('F2')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G2" onclick="mostrar('G2')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H2" onclick="mostrar('H2')"></div>

            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A3" onclick="mostrar('A3')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B3" onclick="mostrar('B3')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C3" onclick="mostrar('C3')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D3" onclick="mostrar('D3')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E3" onclick="mostrar('E3')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F3" onclick="mostrar('F3')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G3" onclick="mostrar('G3')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H3" onclick="mostrar('H3')"></div>

            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A4" onclick="mostrar('A4')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B4" onclick="mostrar('B4')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C4" onclick="mostrar('C4')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D4" onclick="mostrar('D4')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E4" onclick="mostrar('E4')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F4" onclick="mostrar('F4')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G4" onclick="mostrar('G4')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H4" onclick="mostrar('H4')"></div>

            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A5" onclick="mostrar('A5')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B5" onclick="mostrar('B5')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C5" onclick="mostrar('C5')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D5" onclick="mostrar('D5')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E5" onclick="mostrar('E5')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F5" onclick="mostrar('F5')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G5" onclick="mostrar('G5')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H5" onclick="mostrar('H5')"></div>

            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A6" onclick="mostrar('A6')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B6" onclick="mostrar('B6')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C6" onclick="mostrar('C6')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D6" onclick="mostrar('D6')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E6" onclick="mostrar('E6')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F6" onclick="mostrar('F6')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G6" onclick="mostrar('G6')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H6" onclick="mostrar('H6')"></div>

            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A7" onclick="mostrar('A7')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B7" onclick="mostrar('B7')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C7" onclick="mostrar('C7')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D7" onclick="mostrar('D7')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E7" onclick="mostrar('E7')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F7" onclick="mostrar('F7')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G7" onclick="mostrar('G7')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H7" onclick="mostrar('H7')"></div>

            <div class="row fila">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A8" onclick="mostrar('A8')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B8" onclick="mostrar('B8')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C8" onclick="mostrar('C8')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D8" onclick="mostrar('D8')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E8" onclick="mostrar('E8')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F8" onclick="mostrar('F8')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G8" onclick="mostrar('G8')"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H8" onclick="mostrar('H8')"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xmlbtn"><button>  Cargar archivo XML..  </button></div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 xmlbtn"><button>  Guardar como archivo XML..  </button></div>
      </div>
    <!-- FIN DE AREA DE JUEGO -->
    </section>
  </body>
</html>