@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_no_nav.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="'IE' ='edge'" />
</head>

<body>
    <!-- BANNER -->
    <section id="LoginBanner">
        <div id="banner">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="banner-text">
                                <h1>Inicio de sesión</h1>
                                <!--Formulario-->

                                <form action="/Home/Login" method="post">

                                    <div class="form-wrap">
                                        <div class="fname floating-label">
                                            <input type="text"
                                                   required
                                                   class="floating-input"
                                                   name="Username" />
                                            <label for="Username">Usuario</label>
                                        </div>
                                        <div class="fname floating-label">
                                            <input type="password"
                                                   required
                                                   class="floating-input"
                                                   name="Contraseña" />
                                            <label for="Contraseña">Contraseña</label>
                                        </div>

                                        <div class="bannet-cta">
                                            <div class="cta-1">
                                                <input type="submit" value="Iniciar sesión" />
                                            </div>
                                            <div class="cta-2">
                                                <a href="~/Home/Registro">Regístrate</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN DE BANNER -->

</body>
</html>