@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="“IE" ="edge”" />
</head>

<body>
    <!-- BANNER -->
    <section id="HeroBanner">
        <div id="banner">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="banner-text">
                                <h1>Inicio de sesión</h1>
                                <!--Formulario-->

                                <div class="form-wrap">
                                    <div class="fname floating-label">
                                        <input type="text"
                                                required
                                                class="floating-input"
                                                name="full name" />
                                        <label for="title">Usuario</label>
                                    </div>
                                    <div class="fname floating-label">
                                        <input type="password"
                                                required
                                                class="floating-input"
                                                name="password" />
                                        <label for="password">Contraseña</label>
                                    </div>
                                </div>

                                <!--Botones-->
                                <div class="bannet-cta">
                                    <div class="cta-1">
                                        <a href="#">Iniciar sesión</a>
                                    </div>
                                    <div class="cta-2">
                                        <a href="#">Regístrate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN DE BANNER -->

</body>
</html>