@{ 
    ViewBag.Title = "Inicio";
    if (Globals.logged_in == true)
    {
        Layout = "~/Views/Shared/_Layout_logged_in.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="'IE' ='edge'" />
</head>

  <body>
      <!-- OPCIONES -->
      <section id="Gain">
          <div class="container">
              <div class="title text-center">
                  <h3>Conoce OTHELLO</h3>
                  <p>
                      El reversi, othello o yang es un juego entre dos personas, que
                      comparten 64 fichas iguales, de caras distintas, que se van
                      colocando por turnos en un tablero dividido en 64 escaques. Las
                      caras de las fichas se distinguen por su color y cada jugador
                      tiene asignado uno de esos colores, ganando quien tenga más fichas
                      sobre el tablero al finalizar la partida. Se clasifica como juego
                      de tablero, abstracto y territorial; al igual que el go y las amazonas.
                  </p>
                  <h2>¿Qué esperas para jugar?</h2>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                      <div class="each-icon box-1">
                          <div class="icon-wrap">
                              <i class="fa fa-gamepad"></i>
                          </div>
                          <div class="icon-text">
                              <h3>Partidas contra la IA</h3>
                              <p>
                                  Juega contra la IA y domina los conceptos básicos de Othello. Cuando
                                  te sientas listo puedes iniciar partidas con otros jugadores.<br><br>
                                  ¿Qué esperas para empezar?
                              </p>
                              <div class="cta">
                                  <a title="Partidas en solitario" href="#">
                                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                      <div class="each-icon box-2">
                          <div class="icon-wrap">
                              <i class="fa fa-cubes"></i>
                          </div>
                          <div class="icon-text">
                              <h3>Partidas 1 vs 1</h3>
                              <p>
                                  Comienza una partida de Othello o únete a una ya creada.<br><br>
                                  Nota: Necesitas una cuenta de Othello para jugar partidas 1 vs 1.
                                  En caso no tuvieras una, ¡El registro es gratuito!
                              </p>
                              <div class="cta">
                                  <a title="Partidas versus" href="#">
                                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                      <div class="each-icon box-4">
                          <div class="icon-wrap">
                              <i class="fa fa-chart-pie"></i>
                          </div>
                          <div class="icon-text">
                              <h3>Reportes</h3>
                              <p>
                                  Visualiza tus estadísticas y tu historial de torneos.
                              </p>
                              <div class="cta">
                                  <a title="Torneos" href="#">
                                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- FIN DE OPCIONES -->
  </body>
</html>