
<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="“IE" ="edge”" />
</head>

  <body>
    <!-- BANNER -->
    <section id="Game">
      <div class="row">
        <div id="GameBoard" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div id="GameTable">
            
            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>

            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>

            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>

            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>

            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>

            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>

            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>

            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda"></div>


          </div>
        </div>
      </div>
    </section>
    <!-- FIN DE BANNER -->

  </body>
</html>