
<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="“IE" ="edge”" />
</head>

  <body>
    <!-- BANNER -->
    <section id="Game">
        <div id="GameTable">
            <div id="GameArea">

        </div>
    </section>
    <!-- FIN DE BANNER -->

  </body>
</html>