@model string[]
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_logged_in_no_nav.cshtml";
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="'IE' ='edge'" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        
    </script>
</head>

<body>

    <section id="GIndex">

        <div>
            @using (Html.BeginForm("Index", "Game", FormMethod.Post))
            {
                <div class="subform">

                    <div class="row">
                        <h4 class="col-12">Tipo de apertura</h4>
                    </div>
                    <div class="row">
                        <span class="col-6">
                            <input type="radio" name="apertura" id="Automática" value="Automática" checked/>
                            <label for="Automática">Automática</label>
                        </span>
                        <span class="col-6">
                            <input type="radio" name="apertura" id="Personalizada" value="Personalizada" />
                            <label for="Personalizada">Personalizada</label>
                        </span>
                    </div>

                </div>
                <div class="subform">

                    <div class="row">
                        <h4 class="col-12">Modalidad de juego</h4>
                    </div>
                    <div class="row">
                        <span class="col-6">
                            <input type="radio" name="modalidad" id="Normal" value="Normal" checked />
                            <label for="Normal">Normal</label>
                        </span>
                        <span class="col-6">
                            <input type="radio" name="modalidad" id="Inversa" value="Inversa" />
                            <label for="Inversa">Inversa</label>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Continuar" />
                    </div>
                </div>

                <input type="text" name="go_to" value="@Model[0]" style="display: none" />
                <input type="text" name="ficha_inicial" value="@Model[1]" style="display: none" />

            }
        </div>

</section>

</body>
</html>