@{
    ViewBag.Title = "Juego";
    Layout = "~/Views/Shared/_Layout_NoLogin.cshtml";

    void fun()
    {

    }


    /* string[] RecogerColores(string[] colores)
        {
            string[] tablero = new string[64];
            int i = 0;

            foreach (string id in ids)
            {
            }

            return tablero;
        }
        */

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="“X-UA-Compatible”" content="'IE' ='edge'" />

    <script>

        function celda(id) {
            if (document.getElementById("I_" + id).value == "") {
                document.getElementById(id).style.backgroundImage = "url('../wwwroot/images/ficha_b.jpg')";
                document.getElementById("I_" + id).value = "blanco";
            }
        }

        function cargarColor(id, colores) {
            color = document.getElementById(id).style.backgroundImage;
            colores.push(color);
        }

        //function cargarXML() { }
        

    </script>
</head>

<body>
    <!-- AREA DE JUEGO -->
    <section id="Game">

        <form action="Game/Solo_UploadFile" method="post">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <input class="xmlbtn" type="file" accept=".xml" name="archivo" value="">
                <button class="xmlbtn" type="submit">  Cargar archivo XML.. </button>
            </div>
        </form>

        <form action="/Game/Solo" method="post">
            <div class="row xml-row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"><button class="xmlbtn" type="submit">  Guardar archivo XML.. </button></div>
            </div>

            <div class="row">
                <div id="GameBoard" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="GameTable">

                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A1" onclick="celda('A1')"><input type="text" id="I_A1" value="" name="A1" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B1" onclick="celda('B1')"><input type="text" id="I_B1" value="" name="B1" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C1" onclick="celda('C1')"><input type="text" id="I_C1" value="" name="C1" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D1" onclick="celda('D1')"><input type="text" id="I_D1" value="" name="D1" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E1" onclick="celda('E1')"><input type="text" id="I_E1" value="" name="E1" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F1" onclick="celda('F1')"><input type="text" id="I_F1" value="" name="F1" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G1" onclick="celda('G1')"><input type="text" id="I_G1" value="" name="G1" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H1" onclick="celda('H1')"><input type="text" id="I_H1" value="" name="H1" /></div>
                        </div>
                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A2" onclick="celda('A2')"><input type="text" id="I_A2" value="" name="A2" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B2" onclick="celda('B2')"><input type="text" id="I_B2" value="" name="B2" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C2" onclick="celda('C2')"><input type="text" id="I_C2" value="" name="C2" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D2" onclick="celda('D2')"><input type="text" id="I_D2" value="" name="D2" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E2" onclick="celda('E2')"><input type="text" id="I_E2" value="" name="E2" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F2" onclick="celda('F2')"><input type="text" id="I_F2" value="" name="F2" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G2" onclick="celda('G2')"><input type="text" id="I_G2" value="" name="G2" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H2" onclick="celda('H2')"><input type="text" id="I_H2" value="" name="H2" /></div>
                        </div>
                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A3" onclick="celda('A3')"><input type="text" id="I_A3" value="" name="A3" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B3" onclick="celda('B3')"><input type="text" id="I_B3" value="" name="B3" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C3" onclick="celda('C3')"><input type="text" id="I_C3" value="" name="C3" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D3" onclick="celda('D3')"><input type="text" id="I_D3" value="" name="D3" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E3" onclick="celda('E3')"><input type="text" id="I_E3" value="" name="E3" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F3" onclick="celda('F3')"><input type="text" id="I_F3" value="" name="F3" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G3" onclick="celda('G3')"><input type="text" id="I_G3" value="" name="G3" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H3" onclick="celda('H3')"><input type="text" id="I_H3" value="" name="H3" /></div>
                        </div>
                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A4" onclick="celda('A4')"><input type="text" id="I_A4" value="" name="A4" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B4" onclick="celda('B4')"><input type="text" id="I_B4" value="" name="B4" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C4" onclick="celda('C4')"><input type="text" id="I_C4" value="" name="C4" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D4" onclick="celda('D4')"><input type="text" id="I_D4" value="blanco" name="D4" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E4" onclick="celda('E4')"><input type="text" id="I_E4" value="negro" name="E4" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F4" onclick="celda('F4')"><input type="text" id="I_F4" value="" name="F4" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G4" onclick="celda('G4')"><input type="text" id="I_G4" value="" name="G4" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H4" onclick="celda('H4')"><input type="text" id="I_H4" value="" name="H4" /></div>
                        </div>
                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A5" onclick="celda('A5')"><input type="text" id="I_A5" value="" name="A5" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B5" onclick="celda('B5')"><input type="text" id="I_B5" value="" name="B5" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C5" onclick="celda('C5')"><input type="text" id="I_C5" value="" name="C5" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D5" onclick="celda('D5')"><input type="text" id="I_D5" value="negro" name="D5" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E5" onclick="celda('E5')"><input type="text" id="I_E5" value="blanco" name="E5" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F5" onclick="celda('F5')"><input type="text" id="I_F5" value="" name="F5" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G5" onclick="celda('G5')"><input type="text" id="I_G5" value="" name="G5" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H5" onclick="celda('H5')"><input type="text" id="I_H5" value="" name="H5" /></div>
                        </div>
                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A6" onclick="celda('A6')"><input type="text" id="I_A6" value="" name="A6" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B6" onclick="celda('B6')"><input type="text" id="I_B6" value="" name="B6" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C6" onclick="celda('C6')"><input type="text" id="I_C6" value="" name="C6" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D6" onclick="celda('D6')"><input type="text" id="I_D6" value="" name="D6" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E6" onclick="celda('E6')"><input type="text" id="I_E6" value="" name="E6" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F6" onclick="celda('F6')"><input type="text" id="I_F6" value="" name="F6" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G6" onclick="celda('G6')"><input type="text" id="I_G6" value="" name="G6" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H6" onclick="celda('H6')"><input type="text" id="I_H6" value="" name="H6" /></div>
                        </div>
                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A7" onclick="celda('A7')"><input type="text" id="I_A7" value="" name="A7" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B7" onclick="celda('B7')"><input type="text" id="I_B7" value="" name="B7" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C7" onclick="celda('C7')"><input type="text" id="I_C7" value="" name="C7" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D7" onclick="celda('D7')"><input type="text" id="I_D7" value="" name="D7" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E7" onclick="celda('E7')"><input type="text" id="I_E7" value="" name="E7" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F7" onclick="celda('F7')"><input type="text" id="I_F7" value="" name="F7" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G7" onclick="celda('G7')"><input type="text" id="I_G7" value="" name="G7" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H7" onclick="celda('H7')"><input type="text" id="I_H7" value="" name="H7" /></div>
                        </div>
                        <div class="row fila">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="A8" onclick="celda('A8')"><input type="text" id="I_A8" value="" name="A8" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="B8" onclick="celda('B8')"><input type="text" id="I_B8" value="" name="B8" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="C8" onclick="celda('C8')"><input type="text" id="I_C8" value="" name="C8" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="D8" onclick="celda('D8')"><input type="text" id="I_D8" value="" name="D8" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="E8" onclick="celda('E8')"><input type="text" id="I_E8" value="" name="E8" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="F8" onclick="celda('F8')"><input type="text" id="I_F8" value="" name="F8" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="G8" onclick="celda('G8')"><input type="text" id="I_G8" value="" name="G8" /></div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 celda" id="H8" onclick="celda('H8')"><input type="text" id="I_H8" value="" name="H8" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- FIN DE AREA DE JUEGO -->
    </section>
</body>
</html>